<form class="login-form">
    <h1>
        Fazer Login
    </h1>
    <input type="email" placeholder="email" class="elements">
    <input type="password" placeholder="senha" class="elements">
    <button class="elements">
        Entrar
    </button>
    <span class="alert">
        Algum erro meu mano
    </span>
</form>

<form class="login-form">
    <h1>
        Fazer Cadastro
    </h1>
    <input type="Nome" placeholder="Nome" class="elements">
    <input type="email" placeholder="email" class="elements">
    <input type="password" placeholder="Senha" class="elements">
    <input type="password" placeholder="Senha" class="elements">
    <button class="elements">
        Cadastrar
    </button>
    <span class="alert">
        Algum erro meu mano
    </span>
</form>