*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --padding-screen: 100px;
}
.menu{
  display: flex;
  height: 124px;
  padding: 0 var(--padding-screen);
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
  align-items: center;
}
.menu .navigator li{
  list-style-type:none ;
}
.menu .navigator{
  display: flex;
  gap: 10px;
}
.menu .logo img{
  max-width: 100%;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.forms {
  display: flex;
  padding: 50px var(--padding-screen);
}
.forms .top a{
  text-decoration: none;
}
.forms .top a button{
  gap: 10px;
  width: 160px;
  height: 50px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}