*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --padding-screen: 100px;
}
.menu{
  display: flex;
  height: 100px;
  padding: 0 var(--padding-screen);
  justify-content: space-between;
}