@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
  --padding-screen: 100px;
  --max-width-screen:1325px;

  --btn-color: #341ED3;
  --background-elements-color: #0F0F0F;
  --background-elements-color-opacity: #0f0f0fd8;

}
body{
  background-color: black;
}
.menu{
  background-color: var(--background-elements-color-opacity);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1.5rem var(--padding-screen);

  position: absolute;
  width: 100%;
  z-index: 33;

  backdrop-filter: blur(5px);
}
.menu .left{
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo{
  display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 17.85px;
    color: #fff;
    font-weight: 400;
}

.login-button a button {
    border: none;
    width: 165px;
    height: 55px;
    border-radius: 5px;
    background-color:var(--btn-color);
    color: white;
    border-radius: 999px;
    cursor: pointer;
}

.login-button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

header{
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 var(--padding-screen);
  color: white;
  justify-content: center;
}
header .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  z-index: -1;
  opacity: 0.3;
}
header .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .content{
  z-index: 2;
  width: 100%;
  max-width: var(--max-width-screen);
}
header .content .text{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header .content .text h1{
  max-width: 400px;
}
header .content .text p{
  max-width: 550px;
}
header .content .text .hashtag{
  display: flex;
  align-items: center;
  gap: 10px;
}
header .btns{
  display: flex;
  gap: 20px;
}
header .btns a{
  text-decoration: none;
}
header .btns button{
  width: 159.56px;
  height: 55.36px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
header .btns .ver{
  background-color: var(--btn-color);
  color: white;
  fill: white;
}
header .btns .more{
  background-color: var(--btn-color);
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}
/*  Tela de Login  */ 

.forms {
  display: flex;
  padding: 0px var(--padding-screen);
  flex-direction: column;
}
.forms .top a{
  text-decoration: none;
}
.forms .top {
  position: absolute;
  top: 30px;
  left: 50px;
}
.forms .top a button{
  gap: 10px;
  width: 160px;
  height: 60px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background-color: #0187A7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}
.forms-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.forms-content .login-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  padding: 20px 13px;
  background-color: #0187a7;
  min-height: 400px;
  justify-content: center;
  border-radius: 20px;
}
.forms-content .login-form h1{
  color: rgb(35, 219, 90);
  margin-bottom: 20px;
}
.forms-content .login-form .elements{
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 0 30px;
  outline: none;
}
.forms-content .login-form button{
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: aquamarine;
  font-size: 20px;
}